// =============Start global==================>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// =============End global====================>
//<==============Variables====================>
// =================Start Header==============>
#header{
    width:300px;
    padding: 0 15px;
    background: #040b14;
    height:100vh;
    .profile{
        h1{
            color:#fff;
        }
        a{
            font-size: 18px;
            background: #212431;
            color: #fff ;
            line-height: 1;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }
        img{
            width:150px;
            height:150px;
            border: 8px solid #2c2f3f;
            transition: 0.5;
            &:hover{
                box-shadow:0 0 50px #21ebff;
                -webkit-box-reflect: below 0.1px linear-gradient(transparent,#0003);
            }
        }
        .social-links{
            .social-icon{
                &:hover{
                    box-shadow:0 0 50px #21ebff;
                    -webkit-box-reflect: below 0.1px linear-gradient(transparent,#0003);
                }
            }
        }
    }
    .nav{
        .active{
            i,span{
                // color:#149ddd;
                color:#fff;
            }
        }
        a{
            color:rgb(44, 160, 177);
        }
    }
}
.icon{
    background-color: #A49083;
    
}
.offcanvas{
    background: #040b14;
}
// =================End Header=================>
//==================Start Banner===============>
.banner-content{
    
    h1{
        color: #062b5f;
        // filter: blur(1px);
        text-shadow: 0 0 10px rgb(223, 211, 103),
                    0 0 20px rgba(255, 255, 255,1),
                    0 0 40px rgba(255, 255, 255,1),
                    0 0 80px rgba(255, 255, 255,1),
                    0 0 160px rgba(255, 255, 255,1);
    }
    p{
        position:absolute;
        top:60%;
        font-size: 30px;
        filter: blur(0.6px);
        text-transform: initial;
        color: #062b5f;
        text-shadow: 0 0 1px rgb(60, 119, 245),
                    0 0 2px rgb(23, 107, 233),
                    0 0 4px rgba(255, 255, 255,1),
                    0 0 8px rgba(255, 255, 255,1),
                    0 0 16px rgba(255, 255, 255,1);
    }
    
    
}
#banner{
    width: 100%;
    height: 100vh;
    background: url(../img/banner2.jpg) top center;
    background-size: cover;
    color:#fff;
    font-weight:bold;
    background-attachment: fixed;
}
//==================End Banner=================>
// =================Start Main=================>
@media (min-width: 990px) {
    .main{
        margin-left: 300px;
    }
}
.about{
    .title{
        padding-bottom: 20px;
        width: 50px;
        color: #2c2f3f;
        border-bottom: 3px solid rgba(46, 122, 189, 0.761);
    }
}
.skills,.portfolio{
    background-color: #f5f8fd;
}
.progress-bar{
    transition: all 5s;
}
.resume{
    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid #1f5297;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 5px;
            background: #fff;
            border: 2px solid #1f5297;
        }
    }
}
.portfolio{
    .filter{
        .active{
            background-color:#2c2f3f;
            color: #fff ;
        }
        li{
            background-color: aqua;
            cursor: pointer;
        }
    }
    .project{
        .item{
            height: 300px;
            position: relative;
            margin: 5px;
            width: calc(90% / 3);
            opacity: 1;
            transform: scale(1) translate3d(0px, 0px, 0px);
            backface-visibility: hidden;
            perspective: 1000px;
            transform-style: preserve-3d;
            transition: all 0.5s ease-in-out 0ms;
            pointer-events: auto; 
            .inner{
                width: 100%;
                overflow: hidden;
                .gallery-overlay{
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    text-align: center;
                    transform:translateY(-50%) scale(0);
                    transition: all 0.3s ease-in-out;
                    a{
                        width: 60px;
                        line-height:60px;
                        background-color: #fff;
                        border-radius:50%;
                        text-align: center;
                        display: inline-block;
                        color: #149ddd;
                        font-size: 20px;
                        &:hover{
                            background-color: #46b3b3;
                            color: #fff;
                        }
                    }
                }
            }
            &:hover{
                .gallery-overlay{
                    transform:translateY(-50%) scale(1);
                }
                img{
                    transform: scale(1.1);
                }
            }
        }
    }
}
@media (max-width:550px) {
    .portfolio{
        .project{
            .item{
                width:100%;
            }
        }
    }
}
@media (max-width:786px) {
    .portfolio{
        .project{
            .item{
                width:48%;
            }
        }
    }
}
// @media (min-width:978px and max-width:1100px) {
//     .portfolio{
//         .project{
//             .item{
//                 width:48%;
//             }
//         }
//     }
// }
.contact{
    .info{
        .icon{
            width: 60px;
            height: 60px;
            color: #149ddd;
            border-radius: 50%;
            text-align: center;
            background: #dff3fc;
        }
        iframe{
            width: 100%;
            height: 290px;
            border: none;
        }
    }
}
// =================End Main=================>
// =================Start Footer=============>
.footer{
    background-color:#040b14;
    width: 300px;
    color: #fff;
    a{
        text-decoration: none;
    }
}
// =================End Footer===============>
//==============animation====================
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.a{
    transform: translateY(0px);
    opacity: 1;
}
// =======================================================
.fa-arrow-circle-up{
    bottom: 0;
    right: 0;
    font-size: 50px;
}